$ditalColor: #000000;
$mainColor: #8a817c;
$secColor: #bcb8b1;
$bodyColor: #f4f3ee;
$linkColor: #ead987;
$widowsColor: rgba(0, 0, 0, 0.355);
$ramaColor: rgba(0, 0, 0, 0.604);

// windows

$classColor: rgb(250, 200, 99);
$funkcionColor: rgb(121, 182, 242);
$variable: rgb(197, 165, 197);
$tagColor: rgb(252, 146, 158);
